body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  background-color: #121228;
  color: #fff;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Caveat", cursive;
}

input,
button,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}
